*{
    margin: 0 auto;
}

body{
    background: #1C1C1C;
}

html{
    overflow-x: hidden;
}

h2{
    color: white;
    font-family: Roboto;
}

#top-text{
    width: 100%;
    height: 6rem;
    display: flex;
    font-size: 1.4rem;
    font-family: Roboto;
    color: white;
    align-items: center;
    margin: 0 auto;
    background: #313131;
}

#results{
    width: 100%;
    display: grid;
    margin-top: 2%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}
#inputs{
    width: 65%;
    margin-top: 8%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#box{
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    border: 0.2rem solid #3B983F;
    display: flex;
    align-items: center;
    color: white;
    font-family: Roboto;
}
.fields{
    width: 100%;
    padding: 0;
    border: none;
    margin-bottom: 1.6rem;
    height: 3rem;
    background: #363636;
    padding-left: 0.3rem;
    color: rgb(170, 170, 170);
    font-size: 1rem;
    border-radius: 0.8rem;
}

#sendButton{
    width: 100%;
    height: 2.7rem;
    background: #3B983F;
    color: white;
    border: none;
    border-radius: 0.8rem;
    font-size: 1.3rem;
    font-family: Roboto;
}

#showButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxButton{
    margin: 2.5rem;
    width: 60%;
    height: 3rem;
    background: #B12424;
    color: white;
    font-family: Roboto;
    font-size: 1.4rem;
    border: none;
    border-radius: 0.8rem;
}

@media(min-width: 1100px){
 html{
    overflow-y: hidden;
   } 

  #results{
      width: 100%;
      display: grid;
      margin-left: 0.3rem;
      margin: 0 auto;
      grid-template-columns: 1fr 1fr;
  }

  .fields{
      width: 30rem;
      height: 2.5rem;
      margin-bottom: 2rem;
  }
  #inputs{
      margin-top: -30%;
      width: 50rem;
      align-items: center;
      justify-content: center;

  }
  #sendButton{
      margin: 0 auto;
      width: 30rem;
      height: 2.5rem;
      font-size: 1.1rem;
      
  }
  #box{
      width: 18rem;
      height: 18rem;
      margin: 5rem;
      font-size: 1.2rem;
  }

  #top-text{
      font-size: 1.5rem;
      height: 5rem;
  }
  #right-side{
      display: grid;
      grid-template-rows: 2fr 1fr;
  }
  #showButton{
      width: 15rem;
      height: 2rem;
      
    
  }

 #boxButton{
      width: 100%;
      height: 3rem;
      font-size: 1rem;
 }


}